@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.max-width {
  @apply lg:mx-auto lg:px-24 xl:px-48 px-5;
}
.bg-gradient {
  @apply bg-gradient-to-r from-sky-500 via-purple-500 to-pink-600;
}
.text-gradient {
  @apply bg-clip-text bg-gradient text-transparent;
}
.section {
  @apply pt-28 xl:pt-28 2xl:pt-44;
}
.text-content {
  @apply dark:text-light-content text-dark-content;
}
body {
  overflow-x: hidden;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.name-logo {
  font-size: 2.5rem;
  background: linear-gradient(to right, rgba(19,163,234,255) 0%, rgba(176,51,145,255) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.name-logo1 {
  font-size: 1.5rem;
  background: linear-gradient(to right, rgba(19,163,234,255) 0%, rgba(176,51,145,255) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.name-logo2 {
  background: linear-gradient(to right, rgba(19,163,234,255) 0%, rgba(86,255,37,255) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.gradient-button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border-radius: 25px;
  background: linear-gradient(to right, rgba(19,163,234,255) 0%, rgba(176,51,145,255) 100%);
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 1em;
  line-height: 1em;
  transition: all 0.3s ease;
}

.gradient-button:hover {
  box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
  transform: translateY(-2px);
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.image-container {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.image-item {
  width: 100%;
  flex-shrink: 0;
}

.slideshowSlider {
  display: flex;
  transition: transform 1s ease-in-out;
}

.slideshow {
  width: 50%; /* Adjust as needed */
  margin: 0 auto;
  overflow: hidden;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.md\:w-1\/2 {
  width: 100%;
}

.project-card {
  transition: all 0.3s ease; /* This is to make the changes happen smoothly */
}

.project-card:hover {
  transform: scale(1.05); /* This makes the card slightly larger */
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); /* This adds a deeper shadow */
}





